<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="inbox" value="\\yourfileserverhere\Automation\inbox"/>
    <add key="outbox" value="\\yourfileserverhere\Automation\outbox"/>
    <add key="runafterjob" value=""/>
    <!--<add key="runafterjob" value="TestAnalyzer.exe &quot;$(JobResultPath)&quot; &quot;$(JobResultPath)&quot;"/>-->
  </appSettings>
</configuration>